.sign_up {
  width: 100%;
  height: 1000px;
  padding-top: 150px;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image_container {
      width: 50%;
      height: 100%;

      img {
        width: 760px;
        height: 760px
      }
    }

    .form_container {
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      button {
        width: 15%;
        height: 45px;
        font-weight: 700;
        display: block;
        margin-left: 35%;
        background-color: #8C4C27;
        color: #fff;
        font-size: 16px;
        border-radius: 5px;
      }

      h1 {
        font-size: 29px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        color: #0E4A67;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        color: #868686;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .form {
        width: 100%;

        .label {
          font-size: 14px;
          font-weight: 700;
          text-align: left;
          color: #4F5B76;
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;
          .error {
            color: darkred;
            font-size: 16px;
          }
          .error-input {
            width: 80%;
            height: 40px;
            border: 2px solid darkred;
            margin-top: 10px;
          }


        }

        .input {
          width: 80%;
          height: 40px;
          border: 2px solid #E0E0E0;
          margin-top: 10px;
        }
      }
    }
    .success {
      text-align: center;
      p {
        color: green;
        text-align: center;
        margin-left: -17%;
      }
      a {
        text-decoration: none;
        color: #868686;
        margin-left: -17%;
      }

    }
  }

  .social_media {
    display: flex;
    flex-direction: column;
    width: 100%;

    .suggestion {
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    hr {
      width: 133px;
      height: 1px;
      color: #0E4A67;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.35894569754600525px;
      text-align: center;
      color: #0E4A67;
      padding: 35px;
    }

    .icons {
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
