.card {
  margin: 10px;
  width: 24%;
  height: 100%;

  a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
  .price {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
  }
  .name,
  .author {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
  }
  .author {
    margin-bottom: 7px;
  }
  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
}
