.card {
  margin: 10px;
  width: 24%;
  height: 90%;

  a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
}
