.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu a {
  height: 19px;
  color: #000000;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

a.active {
  font-weight: 700;

}


