$path: "../../";
$primary: #0C0C0C;
$secondary: #2EAD6F;
$accent: #FFAA00;
$white: #fff;
$black: #000;
$ff_m: 'Roboto', sans-serif;
$ff_s: 'Roboto', sans-serif;
$ff_sp: 'Roboto', sans-serif;
$fz: 16px;
