.navBar_general {
    width: 100%;
    height: 74px;
    background-color: #F2EAE3;
}
.navBar {
    width: 75%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
.navBar_logo {
    top: 4px;
}

.navBar_logo img {
    width: 141px;
    height: 67px

}
.navBar_menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
a {
    height: 19px;
    color:  #000000;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;

}
a.active {
    font-weight: 700;
}
.navBar_icons {
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar_search {
    width: 29px;
    height: 24px;

}

.navBar_basket {
    width: 44px;
    height: 34px;

}
.navBar_wish,
.navBar_login {
    width: 24px;
    height: 24px;

}
